@import "./color.scss";

.text-right{
    text-align: right;
}
.list-reports{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid $color-white;
    ;
    overflow: auto;
    width: 700px;
    height: 450px;

    .user-card{
        text-align: left;
        padding: 5px;
        margin: 10px;
        width: 250px;
        height: 130px;
        border: 1px solid $color-grey;

        a{
            background:  #309771;
            color: $color-white;
            text-decoration: none;
            padding: 5px 86px;
            border-radius: 20px;
            width: 60px;
            &:hover{
                background:  #309771;
            }
        }
    }
  }